In [ ]:
a='apple'
b='banana'
c='cherry'
d='dragon fruit'
print(a,b,c,d,sep=',',end='.\n')

%time

apple,banana,cherry,dragon fruit.
CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 7.15 µs

In [ ]:
a=list(range(2,19,2))
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
b=[x**2 for x in range(1,11)]
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
from numpy import sin
sin(3)

0.1411200080598672

In [ ]:
from numpy.random import *
for i in range(50):
  print(randint(1,10),end=',')

3,9,9,5,2,5,5,9,1,1,8,6,7,6,9,7,5,7,9,9,8,7,7,6,6,9,3,9,1,7,4,8,3,8,9,2,3,1,7,3,6,2,6,3,8,9,1,3,4,1,

In [ ]:
from numpy.random import *
for i in range(10):
  print(randint(1,36),end=',')

10,13,5,23,31,13,23,24,34,19,

In [ ]:
age=int(input('how old are you:'))
hasAdult=input('have audlt? True/False')
if (age>=12) or (age>=6 and hasAdult):
  print('you can watch the movie')

how old are you:12
have audlt? True/Falsetrue
you can watch the movie

In [ ]:
age=int(input('how old are you:'))
if (age>=12):
  print('you can watch the movie')
if (age<12 and age>=6):
  hasAdult=input('have audlt? True/False')
  if (hasAdult):
    print('you can watch the movie')

how old are you:6
have audlt? True/Falset
you can watch the movie

In [ ]:
# written in c++

#include <iostream>

using namespace std;

int main(){
    int k = 4;
    int m = 1;
    for (int i=1; i <=5; i++){
        for (int j=1; j<=k; j++){
            cout<<(" ");
        }
        for (int j=1; j<=m; j++){
            cout<<("*");
        }
        cout<<("\n");
        k--;
        m=m+2;
    }

    return 0;
}